export(calculate_effective_x_bins)
export(calculate_effective_shape_value)
export(avg_highD_data)
export(find_benchmark_value)
export(show_langevitour)
export(extract_hexbin_centroids)
export(triangulate_bin_centroids)
export(generate_edge_info)
export(cal_2D_dist)
export(colour_long_edges)
export(geom_trimesh)
export(stat_trimesh)
export(remove_long_edges)
export(generate_full_grid_centroids)
export(full_hex_grid)
export(generate_eval_df)
export(predict_hex_id)
export(compute_aic)

importFrom(ggplot2, Geom, GeomPoint, GeomSegment, Stat, aes, layer, ggproto)
